html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-image: url(../Images/back3.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;

}


/* navigation */



.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#2A4014;
  border-bottom: 0.75rem solid #2A4014;
  display: flex;

}



.nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;

}


.nav a:hover {
  background-color: #1E2829;
  font-size: 26px;
  color:#956320;

}


/* main */


.wrapper {
  margin: 100px auto;
  width: 55%;
  padding: 1em;
  background-color: #AF854F;
  border-radius: 15px;
  
}

#gal-city {
  border-radius: 15px;

}

i, strong {
  font-size: 1.5rem;

}


.buttons {
  display: flex;
  justify-content: center;

}

.button {
  border: none;
  background-color:#6A4C22;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 10px;

}


/* buttons dont disapear */

/* .button:active:enabled {
  color: red;
} */

/* .button:disabled{
  background-color:dimgray;
  color: black;
  cursor:not-allowed;
} */



.button:hover {
  background-color:#202B1A;
  color:bisque;

}

.button:active{
  border:none;
  color:bisque;
  background-color: black;
 
}


/* footer */


#footer-cont{
  background-color:#202B1A;
  display: flex;
    
}
  
.footer {
  list-style-type: none;
  bottom: 0;
  width: 100%;
  background-color:#202B1A;
  display: flex;
  justify-content: flex-start;
    
}
  
.footer a  {
  padding: 5px 20px;
  color:#D5E5F4;
  text-decoration: none;
    
}
  
  
.change:hover {
  color:#DFB469;
  font-size: 30px;
  transition: font-size 1s;
  border-left: 1px solid #DFB469;
  border-right: 1px solid #DFB469;
    
}
  
.change{
  font-size: 23px;
  transition: font-size 2s;

}
  
  
#footer-cont p {
  color: #DFB469;

}